## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

namespace
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
%python
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
%python
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
%python
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from members limit 3

memid,surname,firstname,address,zipcode,telephone,recommendedby,joindate
0,GUEST,GUEST,GUEST,0,(000) 000-0000,null,2012-07-01 00:00:00
1,Smith,Darren,"8 Bloomsbury Close, Boston",4321,555-555-5555,null,2012-07-02 12:02:05
2,Smith,Tracy,"8 Bloomsbury Close, New York",4321,555-555-5555,null,2012-07-02 12:08:23

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
Select * from  facilities where membercost>0

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,Tennis Court 1,5.0,25.0,10000,200
1,Tennis Court 2,5.0,25.0,8000,200
4,Massage Room 1,9.9,80.0,4000,3000
5,Massage Room 2,9.9,80.0,4000,3000
6,Squash Court,3.5,17.5,5000,80

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select count(*) from facilities where membercost=0

count(1)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select facid,name,membercost,monthlymaintenance from facilities where membercost>0 and membercost<(.2*monthlymaintenance)

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities where facid in(1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name ,monthlymaintenance,
CASE when (monthlymaintenance <100) 
THEN 'cheap'
else  'expensive' end  as cost from facilities

name,monthlymaintenance,cost
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Badminton Court,50,cheap
Table Tennis,10,cheap
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Squash Court,80,cheap
Snooker Table,15,cheap
Pool Table,15,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
def run_sql(statement):
    try:
        result = sqlContext.sql(statement)
    except Exception as e:
        print(e.desc, '\n', e.stackTrace)
        return
    return result

result = run_sql('''
                    SELECT firstname, surname
                    FROM members
                    WHERE joindate = (
                        SELECT MAX(joindate) 
                        FROM members
                    )
                 ''')
result.toPandas()

,firstname,surname
0,Darren,Smith

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select distinct f.name,concat(m.firstname,' ',m.surname) as member  from bookings b join facilities f on f.facid=b.facid join members m on m.memid=b.memid 
where f.name like '%Tennis Court%'

name,member
Tennis Court 1,Tim Rownam
Tennis Court 1,Jemima Farrell
Tennis Court 1,Joan Coplin
Tennis Court 1,Jack Smith
Tennis Court 1,John Hunt
Tennis Court 2,Tracy Smith
Tennis Court 1,Nancy Dare
Tennis Court 2,Anne Baker
Tennis Court 2,Henrietta Rumney
Tennis Court 1,Douglas Jones
Tennis Court 2,Millicent Purview
Tennis Court 1,David Pinker
Tennis Court 1,Matthew Genting
Tennis Court 1,Tracy Smith
Tennis Court 2,Janice Joplette
Tennis Court 2,Tim Rownam
Tennis Court 2,John Hunt
Tennis Court 2,David Jones
Tennis Court 1,Janice Joplette
Tennis Court 1,Charles Owen
Tennis Court 2,Gerald Butters
Tennis Court 2,Timothy Baker
Tennis Court 1,Ponder Stibbons
Tennis Court 2,Burton Tracy
Tennis Court 1,Burton Tracy
Tennis Court 2,Nancy Dare
Tennis Court 2,GUEST GUEST
Tennis Court 1,Gerald Butters
Tennis Court 2,Darren Smith
Tennis Court 2,Jemima Farrell
Tennis Court 2,David Farrell
Tennis Court 1,Tim Boothe
Tennis Court 1,Anne Baker
Tennis Court 2,Charles Owen
Tennis Court 1,David Jones
Tennis Court 2,Jack Smith
Tennis Court 2,Ramnaresh Sarwin
Tennis Court 1,GUEST GUEST
Tennis Court 1,Ramnaresh Sarwin
Tennis Court 1,Erica Crumpet
Tennis Court 1,Florence Bader
Tennis Court 1,Timothy Baker
Tennis Court 2,Tim Boothe
Tennis Court 1,David Farrell
Tennis Court 2,Florence Bader
Tennis Court 2,Ponder Stibbons

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql


SELECT mems.surname AS member, facs.name AS facility,
CASE
WHEN mems.memid = 0
THEN bks.slots * facs.guestcost
ELSE bks.slots * facs.membercost
END AS cost
FROM  `Members` mems
JOIN  `Bookings` bks ON mems.memid = bks.memid
JOIN  `Facilities` facs ON bks.facid = facs.facid
WHERE bks.starttime >=  '2012-09-14'
AND bks.starttime <  '2012-09-15'
AND ((mems.memid = 0
AND bks.slots * facs.guestcost >30)
OR (mems.memid != 0
AND bks.slots * facs.membercost >30))
ORDER BY cost DESC

member,facility,cost
GUEST,Massage Room 2,320.0
GUEST,Massage Room 1,160.0
GUEST,Massage Room 1,160.0
GUEST,Massage Room 1,160.0
GUEST,Tennis Court 2,150.0
GUEST,Tennis Court 2,75.0
GUEST,Tennis Court 1,75.0
GUEST,Tennis Court 1,75.0
GUEST,Squash Court,70.0
Farrell,Massage Room 1,39.6
GUEST,Squash Court,35.0
GUEST,Squash Court,35.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql


select name,memname,memcost from 
(select f.name   ,b.memid,concat(m.firstname,' ',m.surname) as memname,
case when m.memid=0 then b.slots*f.guestcost
else b.slots*f.membercost
end as memcost
from facilities f join bookings b on f.facid=b.facid 
join members m on m.memid=b.memid
where b.starttime >=  '2012-09-14'
AND b.starttime <  '2012-09-15')as filteredbookings  
where memcost>30
order by memcost desc

name,memname,memcost
Massage Room 2,GUEST GUEST,320.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 1,GUEST GUEST,160.0
Tennis Court 2,GUEST GUEST,150.0
Tennis Court 2,GUEST GUEST,75.0
Tennis Court 1,GUEST GUEST,75.0
Tennis Court 1,GUEST GUEST,75.0
Squash Court,GUEST GUEST,70.0
Massage Room 1,Jemima Farrell,39.6
Squash Court,GUEST GUEST,35.0
Squash Court,GUEST GUEST,35.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
select name ,totalrevenue from (select f.name,
sum(case when b.memid=0 then f.guestcost else f.membercost end ) as totalrevenue
from bookings b join facilities f on f.facid=b.facid 
group by f.name  order by totalrevenue ) where totalrevenue<1000 order by totalrevenue

name,totalrevenue
Table Tennis,90.0
Snooker Table,115.0
Pool Table,265.0
Badminton Court,604.5